Repository joshdales/tundra-css, changes with the labels that .github/labeler.yml gives for each.
All labels: Styles, Colours, Radius, Spacing, Typography, Text, Buttons, Inputs

Add the starting points for new colours
  styles/_colours.scss
Labels: Styles, Colours

Create the cyan scale
  styles/_colours.scss
Labels: Styles, Colours

Adjust the yellow scale
  styles/_colours.scss
Labels: Styles, Colours

Reorganise the colours
  index.css
  index.scss
  styles/_colours.scss
Labels: Styles, Colours

bring the pink
  styles/_colours.scss
Labels: Styles, Colours

Minor re-arrangements and adding comments
  index.css
  index.scss
  styles/_colours.scss
Labels: Styles, Colours

Add a unit to the remain colours I need to add
  styles/_colours.scss
Labels: Styles, Colours

Try and make sure that all the buttons are accessibile
  index.scss
Labels: Styles

Rebuild the css
  index.css
Labels: Styles

Add colour scheme to the buttons
  index.css
  index.scss
Labels: Styles

Change pink value
  styles/_colours.scss
Labels: Styles, Colours

Add pink variables to css
  index.css
  index.scss
Labels: Styles

minor tweaks to the oranges and some others
  index.css
  styles/_colours.scss
Labels: Styles, Colours

Add oranges
  styles/_colours.scss
Labels: Styles, Colours

Add new colour variables to css
  index.css
  index.scss
Labels: Styles

Update Readme
  README.md
Labels: none

Add the input accent classes
  index.css
  index.scss
Labels: Styles

Add css comments so things are easier to find
  index.css
  index.scss
  styles/_colours.scss
Labels: Styles, Colours

Add purple scale
  styles/_colours.scss
Labels: Styles, Colours

Move all the typography tokens into their own files
  styles/typography/_font_size.scss
  styles/typography/_font_weight.scss
  styles/typography/_letter_spacing.scss
  styles/typography/_line_height.scss
  styles/typography/index.scss
Labels: Styles

.github/labeler.yml:

Website:
  - changed-files:
    - any-glob-to-any-file: ['website/*', 'website/**/*']
  - base-branch: 'website'

Styles:
  - changed-files:
    - any-glob-to-any-file: ['index.css', 'index.scss', 'styles/*', 'styles/**/*']

Colours:
  - changed-files:
    - any-glob-to-any-file: 'styles/_colours.scss'

Radius:
  - changed-files:
    - any-glob-to-any-file: 'styles/_radius.scss'

Spacing:
  - changed-files:
    - any-glob-to-any-file: 'styles/_spacing.scss'

Typography:
  - changed-files:
    - any-glob-to-any-file: 'styles/_typography.scss'

Text:
  - changed-files:
    - any-glob-to-any-file: 'styles/text/*'

Buttons:
  - changed-files:
    - any-glob-to-any-file: 'styles/_buttons.scss'

Inputs:
  - changed-files:
    - any-glob-to-any-file: 'styles/_inputs.scss'
